html, body {
  height: 100%;
  max-width:  100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: url(../public/images/postIt.JPG);
  background-size: cover;
}

.postDiv {
  position: relative;
  top: 300px;
  left: 500px;
}

input {
  background: transparent;
  width: 120px;
  padding: 10px;
  font-size: 16px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    black;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    black;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    black;
}
